# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
phenoCompare.iml

# R project files
.RData
.Rhistory
*.Rproj
.Rproj.user/

gsppc/ALL_SOURCES_ALL_FREQUENCIES_phenotype_to_genes.txt
gsppc/human_protein_coding_genes.tsv
.Rproj.user
/gsppc/.backup-Rproj.user/
