<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="LogFile" fileName="target/phenoCompare.log" append="false">
            <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>